services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        FIREBASE_PROJECT_ID: "${FIREBASE_PROJECT_ID}"
        FIREBASE_CLIENT_EMAIL: "${FIREBASE_CLIENT_EMAIL}"
        FIREBASE_PRIVATE_KEY: "${FIREBASE_PRIVATE_KEY}"
        NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY: "${NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY}"
        NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN: "${NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN}"
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY: "${NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY}"
      NEXT_PUBLIC_MERCADOPAGO_PUBLIC_KEY: "${NEXT_PUBLIC_MERCADOPAGO_PUBLIC_KEY}"
      NEXT_PUBLIC_FIREBASE_API_KEY: "${NEXT_PUBLIC_FIREBASE_API_KEY}"
      NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN: "${NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN}"
      NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET: "${NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET}"
      NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID: "${NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID}"
      NEXT_PUBLIC_FIREBASE_APP_ID: "${NEXT_PUBLIC_FIREBASE_APP_ID}"
      NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN: "${NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN}"
      NEXT_PUBLIC_FIREBASE_DATABASE_URL: "${NEXT_PUBLIC_FIREBASE_DATABASE_URL}"
      NEXT_PUBLIC_CLERK_SIGN_IN_URL: "${NEXT_PUBLIC_CLERK_SIGN_IN_URL}"
      NEXT_PUBLIC_CLERK_SIGN_UP_URL: "${NEXT_PUBLIC_CLERK_SIGN_UP_URL}"
      NEXT_PUBLIC_CLERK_AFTERSIGN_IN_URL: "${NEXT_PUBLIC_CLERK_AFTERSIGN_IN_URL}"
      NEXT_PUBLIC_CLERK_AFTERSIGN_UP_URL: "${NEXT_PUBLIC_CLERK_AFTERSIGN_UP_URL}"

    env_file:
      - .env